    <% flash.each do |type, message| %>
      <% flash_class = case type.to_sym
                      when :notice then "alert alert-success"
                      when :alert then "alert alert-danger"
                      when :warning then "alert alert-warning"
                      when :info then "alert alert-info"
                      else "alert alert-secondary"
                      end %>
      
      <div class="<%= flash_class %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>